<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="spm">
	<xacro:arg name="robot_name" default="spm"/>
	<xacro:arg name="base_link" default="base_link"/>
	<xacro:arg name="prefix" default=""/>
	<xacro:arg name="use_camera" default="false"/>
	<xacro:arg name="use_gazebo" default="false"/>
	
	<xacro:arg name="base_x" default="0"/>
	<xacro:arg name="base_y" default="0"/>
	<xacro:arg name="base_z" default="0"/>
	
	<xacro:include filename="$(find spm_description)/urdf/robots/spm_mechanism.urdf.xacro"/>
	<xacro:spm_mechanism
		base_link="$(arg base_link)"
		prefix="$(arg prefix)"
		base_x="$(arg base_x)"
		base_y="$(arg base_y)"
		base_z="$(arg base_z)">

	</xacro:spm_mechanism>
	
	
	
</robot>
		
